<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring 5 Demo</title>
</head>
<body>
<h1>List of Authors</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Book</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.name}">Welcome</td>
        <td th:text="${author.books.size()}">New Book Publisher</td>
    </tr>
</table>
</body>
</html>